{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Sign Up | LinkedIn{% endblock title %}

{% block style %}
<style>
    .signup-left h2 {
        font-size: 32px !important;
        text-align: center;
    }

    .signup-left form > * {
        margin-top: 1em !important;
    }

    .signup-left form {
        max-width: 500px;
        margin: 0 auto;
    }
    
    form {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
    }

    .signup-left form label {
        margin-bottom: 0.5em;
    }

    #submit {
        background-color: #0d6efd;
        color: #fff;
        width: 100%;
    }

    .right img {
        width: 125%;
    }

    @media screen and (max-width: 991px) {
        .signup-left h2 {
            font-size: 24px !important;
        }
    }

    @media screen and (max-width: 427px) {
        nav .container {
            justify-content: center !important;
        }
    }
</style>
{% endblock style %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="signup-left px-5">
        <h2 class="mb-3">Make the most of your professional life</h2>
        {{ wtf.quick_form(form) }}
        <p class="text-center mt-4">Already on LinkedIn? <a href="{{url_for('auth.login')}}" class="fw-bold"> Sign in</a></p>
    </div>
</div>
{% endblock content %}