{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macro.html" as macros %}

{% block title %}Feed | LinkedIn{% endblock title %}

{% block style %}
<style>
    .right-col {
        font-size: 12px;
    }

    .right-col a {
        text-decoration: none;
    }

    .right-col a:hover {
        text-decoration: underline;
        color: #0d6efd;
    }

    .right-col li {
        list-style-type: none;
    }

    .profile {
        border-radius: 50%;
        width: 3em;
    }

    .new-post {
        cursor: pointer;
        font-weight: 800;
    }

    .new-post:hover {
        background-color: rgb(239, 238, 238) !important;
    }

    .icons span,
    .start-icon p {
        font-weight: bold;
        cursor: pointer;
        padding: 1em;
        border-radius: 5px;
    }

    .icons span:hover,
    .start-icon p:hover {
        background-color: rgb(219, 217, 217);
    }

    .post-menu {
        cursor: pointer;
    }

    .comments_p {
        cursor: pointer;
    }

    .comments_p:hover {
        text-decoration: underline;
    }

    .left {
        max-width: 18em;
    }

    .left .card-title {
        font-weight: bolder;
        font-size: 17px !important;
    }

    .left .profile-img {
        width: 25%;
        border-radius: 50%;
        top: 4em;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
    }

    .left span {
        font-size: 12px;
    }

    .left strong {
        font-size: 13px !important;
    }

    .left .premium {
        text-decoration: underline;
    }

    .left .groups a {
        font-size: 12px;
        font-weight: bold;
    }
    
    .left .groups li:hover {
        color: #000 !important;
        background-color: rgb(233, 233, 233);
    }

    .post-form form>* {
        margin: 1em 0;
    }

    .post-form label {
        margin-bottom: 0.5em;
    }

    .post-form textarea {
        border: 0;
        min-height: 10em;
    }

    .post-form form .form-group label {
        display: none;
    }

    .post-form form .form-group:nth-child(3) {
        margin-bottom: 0;
    }

    #submit {
        background-color: #0d6efd;
        color: #fff;
        float: right;
    }

    .post-top > span > strong {
        color: #000;
        font-size: 14px;
    }

    .post-top > * {
        font-size: 12px;
    }

    .post-top > span > strong:hover {
        color: #0d6efd;
        text-decoration: underline;
    }

    .news-list a, .group-list a {
        border: 0;
    }

    .group-list > .card-header {
        background-color: #fff;
        border: 0;
        font-size: 12px;
        font-weight: 500;
    }

    .news-header {
        font-weight: bold;
        font-size: 18px;
        border: 0;
        background-color: #fff;
    }

    .news-list a:hover, .group-list a:hover {
        background-color: rgba(230, 227, 227, 0.801);
    }

    .news-list strong {
        color: #000;
    }

    .visible-dropdown:hover {
        background-color: rgba(230, 227, 227, 0.801);
        color: gray;
        box-shadow: inset 0 0 0 1px gray !important;
    }

    .comment__card {
        background-color: #f2f2f2;
        border: 0;
        border-radius: 0 10px 10px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 left">
        <div class="card">
            <img src="{{url_for('static', filename='images/card-bg.svg')}}" alt="" class="position-relative mb-4 rounded-top">
            <img src="{{current_user.gravatar(size=256)}}" alt="" class="position-absolute profile-img">
            <div class="card-body text-center mt-1">
                {% if not current_user.name %}
                <a href="{{url_for('main.user', username=current_user.username)}}"
                    class="card-title link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{
                    current_user.username }}</a>
                {% else %}
                <a href="{{url_for('main.user', username=current_user.username)}}"
                    class="card-title link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{
                    current_user.name }}</a>
                {% endif %}

                {% if current_user.headline %}
                <p class="card-text text-secondary" style="font-size: 12px;">
                    {{ current_user.headline }}
                </p>
                {% else %}
                <p>--</p>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-3"><a href="#"
                        class="link-underline link-underline-opacity-0">
                        <strong class="text-dark">Analytics & tools</strong><br>
                        <span class="text-secondary">30 post impressions</span>
                    </a></li>
                <li class="list-group-item py-3"><a href="#"
                        class="link-underline link-underline-opacity-0">
                        <span class="text-secondary">Access exclusive tools &
                            insights</span><br>
                        <strong class="text-dark premium"><i
                                class="fa-solid fa-note-sticky me-2"
                                style="color: rgb(248, 199, 126);"></i>Get Hired
                            Faster, Try Premium Free</strong>
                    </a></li>
                <li class="list-group-item py-3"><a href="#"
                        class="link-underline link-underline-opacity-0">
                        <strong class="text-dark"><i
                                class="fa-solid fa-bookmark me-2 text-secondary"></i>My
                            items</strong>
                    </a></li>
            </ul>
        </div>
        <div class="card my-3 sticky-top groups group-list" style="top: 5em;">
            <div class="card-header">
                Recent
            </div>
            <ul class="list-group list-group-flush border-0 mb-4">
                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>Python Developer Comm...</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>HackerRank Interview Produ...</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>SQL Server Business Intellig...</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>Django</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>Flask</span>
                </a>
            </ul>

            <div class="card-header text-primary fw-bold">Groups</div>
            <ul class="list-group list-group-flush border-0 mb-4">
                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>Python Developer Comm...</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>HackerRank Interview Produ...</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>SQL Server Business Intellig...</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>Django</span>
                </a>

                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>Flask</span>
                </a>
                <a href="#" class="text-secondary list-group-item list-group-item-action">
                    <i class="fa-solid fa-people-group me-2"></i>
                    <span>CS50</span>
                </a>
            </ul>
        </div>
    </div>

    <div class="col-xl-6 col-lg-5 col-md-8 main">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex gap-3 align-items-center mb-2">
                    <img class="profile col-2" 
                        src="{{ current_user.gravatar(size=256) }}"
                        alt="">
                    <form class="col-10">
                        <input type="text"
                            class="form-control bg-light rounded-pill p-3 new-post text-secondary  border border-secondary"
                            value="Start a post" disabled readonly
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                    </form>
                </div>
                <div class="d-flex justify-content-around start-icon flex-wrap">
                    <p class="text-secondary mb-2">
                        <i class="fa-regular fa-image me-2 fa-xl"
                            style="color: #70a5ff;"></i> Photo
                    </p>
                    <p class="text-secondary mb-2">
                        <i class="fa-brands fa-youtube me-2 fa-xl"
                            style="color: #28cc49;"></i> Video
                    </p>
                    <p class="text-secondary mb-2">
                        <i class="fa-regular fa-calendar-minus me-2 fa-xl"
                            style="color: #b07017;"></i> Audio Event
                    </p>
                    <p class="text-secondary mb-2">
                        <i class="fa-solid fa-newspaper me-2 fa-xl"
                            style="color: #ff4000;"></i> Write Article
                    </p>
                </div>
            </div>
        </div>

        <!--
            TODO: Sort posts according to: 
                - most liked post
                - recent post 
         -->
        <hr>

        {% for post in posts %}
        <div class="card post my-3 ">
            <div class="card-body mb-0">
                <a
                    class="body-top d-flex justify-content-start align-items-center gap-2 position-relative mb-2 link-underline link-underline-opacity-0"
                    href="{{url_for('main.user', username=post.author.username)}}">
                    <img src="{{ post.author.gravatar(size=256) }}"
                        alt="" class="profile">
                    <i
                        class="fa-solid fa-ellipsis position-absolute top-0 end-0 post-menu"></i>
                    <div class="d-flex flex-column post-top">
                        <span class="text-secondary fs-6">
                            <strong>{{ post.author.name }}</strong> • 3rd+
                        </span>
                        {% if post.author.about_me %}
                        <p class="text-secondary m-0">{{
                            post.author.about_me[:70] }}{% if
                            post.author.about_me|length > 70 %}...{% endif %}
                        </p>
                        {% endif %}
                        <p class="text-secondary m-0">{{
                            moment(post.timestamp).fromNow() }} • <i
                                class="fa-solid fa-earth-asia"></i></p>
                    </div>
                </a>
                <p class="post-body mb-0">
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                </p>
            </div>
            {% if post.post_name %}
            <img src="{{ url_for('main.get_image', id=post.id) }}">
            {% endif %}
            <div
                class="d-flex justify-content-between align-items-center py-2 px-3 border-top">
                <span>
                    <i class="fa-regular fa-thumbs-up fa-flip-horizontal text-primary"></i>&nbsp;
                    <span id="likes-count-{{post.id}}">
                        {{ post.likes|length }}
                    </span>
                </span>
                <p class="text-secondary m-0 comments_p"><span class="comments-{{post.id}}">{{ post.comments|length }}</span> comments</p>
            </div>
            <div class="icons d-flex justify-content-around p-1 border-top align-items-center">
                <!--
                    Here we checked if the current user has liked the post or not 
                -->
                {% if current_user.id in post.likes|map(attribute="author_id")|list %}
                <span class="text-primary" id="like-span-{{post.id}}"  onclick="like({{post.id}});open_comments({{post.id}})">
                    <i class="fas fa-thumbs-up fa-flip-horizontal fa-xl" id="like-button-{{post.id}}">
                    </i>&nbsp; Like
                </span>
                {% else %}
                <span class="text-secondary" id="like-span-{{post.id}}" onclick="like({{ post.id }});open_comments({{post.id}})">
                    <i class="far fa-thumbs-up fa-xl fa-flip-horizontal" id="like-button-{{post.id}}"></i>&nbsp; Like
                </span>
                {% endif %}

                <span class="text-secondary" onclick="open_comments({{post.id}})">
                    <i class="fa-regular fa-comment-dots fa-xl text-secondary"></i>&nbsp;
                    Comment
                </span>
                <span class="text-secondary">
                    <i class="fa-solid fa-arrow-rotate-left fa-flip-vertical text-secondary fa-xl"></i>&nbsp;
                    Repost
                </span>
                <span class="text-secondary">
                    <i class="fa-solid fa-paper-plane text-secondary fa-xl"></i>&nbsp;
                    Send
                </span>
            </div>
            <div class="comment-section d-flex align-items-start gap-2 mx-3 mb-3 d-none" id="comment-section-{{post.id}}">
                <img src="{{current_user.gravatar(size=256)}}" alt="" class="profile mt-1">
                <div class="flex-fill">
                    <div class="mb-3">
                        <textarea onclick="open_post_btn({{post.id}})" class="form-control rounded-pill py-3" id="comment-textarea-{{post.id}}" name="body" rows="1" placeholder="Add a comment..."></textarea>
                    </div>
                    <span onclick="add_comment({{post.id}})" type="submit" class="btn btn-primary mb-3 rounded-pill fw-bold" id="comment-post-{{post.id}}" style="display: none;">Post</span>
                </div>
            </div>
            <div class="all-comments d-none" id="all-comment-{{post.id}}">
                {% if post.comments %}
                    {% for comment in post.comments|reverse %} {# reverse the comments list #}
                    <div class="comment d-flex gap-2 align-items-start mx-3 mb-3">
                        <img src="{{comment.author.gravatar(size=256)}}" alt="" class="profile">
                        <div class="card comment__card">
                            <div class="card-body">
                                <a
                                    class="body-top d-flex justify-content-start align-items-center gap-2 position-relative mb-2 link-underline link-underline-opacity-0"
                                    href="{{url_for('main.user', username=comment.author.username)}}">
                                    <i class="fa-solid fa-ellipsis position-absolute top-0 end-0 post-menu"></i>
                                    <div class="d-flex flex-column post-top">
                                        <span class="text-secondary fs-6">
                                            <strong>{{ comment.author.name }}</strong> • 3rd+
                                        </span>
                                        {% if comment.author.about_me %}
                                        <p class="text-secondary m-0">
                                            {{ comment.author.about_me[:70] }}
                                            {% if comment.author.about_me|length > 70 %}...{% endif %}
                                        </p>
                                        {% endif %}
                                        <p class="text-secondary m-0">
                                            {{ moment(comment.timestamp).fromNow() }} • <i class="fa-solid fa-earth-asia"></i>
                                        </p>
                                    </div>
                                </a>
                                <p class="comment__text m-0">{{ comment.body }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-xl-3 col-lg-4 third-column flex-fill">
        <div class="card">
            <div class="card-header news-header">
                LinkedIn News
            </div>
            <ul class="news-list list-group list-group-flush">
                <a href="#" class="py-2 list-group-item list-group-item-action d-flex gap-2">
                    <i class="fa-regular fa-circle fa-2xs py-1 mt-2"></i>
                    <div>
                        <strong>State Street to hire 5,000</strong><br>
                        <span style="font-size: 12px;" class="text-secondary">2d ago • 35,131 readers</span>
                    </div>
                </a>
                <a href="#" class="py-2 list-group-item list-group-item-action d-flex gap-2">
                    <i class="fa-regular fa-circle fa-2xs py-1 mt-2"></i>
                    <div>
                        <strong>What Gen Z wants from an employer</strong><br>
                        <span style="font-size: 12px;" class="text-secondary">23h ago • 2,299 readers</span>
                    </div>
                </a>
                <a href="#" class="py-2 list-group-item list-group-item-action d-flex gap-2">
                    <i class="fa-regular fa-circle fa-2xs py-1 mt-2"></i>
                    <div>
                        <strong>Women shine in UPSC exams</strong><br>
                        <span style="font-size: 12px;" class="text-secondary">2d ago • 1,276 readers</span>
                    </div>
                </a>
                <a href="#" class="py-2 list-group-item list-group-item-action d-flex gap-2">
                    <i class="fa-regular fa-circle fa-2xs py-1 mt-2"></i>
                    <div>
                        <strong>Fresh VC funds for startups</strong><br>
                        <span style="font-size: 12px;" class="text-secondary">1d ago • 12,894 readers</span>
                    </div>
                </a>
                <a href="#" class="py-2 list-group-item list-group-item-action d-flex gap-2">
                    <i class="fa-regular fa-circle fa-2xs py-1 mt-2"></i>
                    <div>
                        <strong>Banks brace for 2,000-notes rush</strong><br>
                        <span style="font-size: 12px;" class="text-secondary">4d ago • 978 readers</span>
                    </div>
                </a>
            </ul>
          </div>

        <div class="sticky-top z-1" style="top: 5em;">
            <div class="card mt-3">
                <img src="{{ url_for('static', filename='images/ad.png') }}"
                    alt="" class="card-image">
            </div>
            <footer class="right-col mt-3">
                <ul class="d-flex flex-wrap gap-3">
                    <li><a class="link-secondary" href="">About</a></li>
                    <li><a class="link-secondary" href="">Accessibility</a></li>
                    <li><a class="link-secondary" href="">Help Center</a></li>
                    <li><a class="link-secondary" href="">Privacy & Terms</a>
                    </li>
                    <li><a class="link-secondary" href="">Ad Choices</a></li>
                    <li><a class="link-secondary" href="">Advertising</a></li>
                    <li><a class="link-secondary" href="">Business Services</a></li>
                    <li><a class="link-secondary" href="">Get the LinkedIn app</a></li>
                    <li><a class="link-secondary" href="">More</a></li>
                </ul>
                <div class="mb-5">
                    <p class="text-center">
                        <img src="https://logos-world.net/wp-content/uploads/2020/05/Linkedin-Logo.png" alt="" width="50px"> LinkedIn Corporation © 2023
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
{% if pagination %}
<div class="">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content post-form">
            <div class="modal-header">
                <h1 class="modal-title fs-4 fw-normal" id="exampleModalLabel">
                    Create a post
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex gap-2 align-items-center">
                    <img src="{{ current_user.gravatar(size=256) }}" alt="your profile photo" class="profile" style="width: 4em;">
                    <div>
                        <p class="fs-6 fw-bold mb-1">{{ current_user.name }}</p>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle rounded-pill fw-bold visible-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-earth-asia me-2"></i>Anyone
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    /**
     * Like function for updating class names of i and span tags without refreshing webpage
     *
     * @param {number} postId - The ID of the post to be liked.
     */
    function like(postId) {
        // Get the necessary elements for updating the like status
        const likeCount = document.getElementById(`likes-count-${postId}`);
        const likeButton = document.getElementById(`like-button-${postId}`);
        const likeSpan = document.getElementById(`like-span-${postId}`);

        // Send a POST request to the server to like the post
        fetch(`/like_post/${postId}`, { method: "POST" })
            .then((res) => res.json()) // Parse the response as JSON
            .then((data) => {
                // Updating the like count and visual styles class based on the response data
                likeCount.innerHTML = data["likes"];
                if (data["liked"] === true) {
                    likeButton.className = "fas fa-thumbs-up fa-xl fa-flip-horizontal text-primary";
                    likeSpan.className = "text-primary"
                } else {
                    likeButton.className = "far fa-thumbs-up fa-xl fa-flip-horizontal text-secondary";
                    likeSpan.className = "text-secondary"
                }
            })
            // Display an error message if the request fails
            .catch((e) => alert("Could not like post."));
    }


    function open_comments(post_id) {
        /*
         * This function is responsible for opening comment-section and all-comment section
         * when a user clicked like button or comment button as same as linkedin :)
        */
        const comment_section = document.querySelector(`#comment-section-${post_id}`);
        const all_comment = document.querySelector(`#all-comment-${post_id}`);
        comment_section.className = "comment-section d-flex align-items-start gap-2 mx-3 mb-3 d-block";
        all_comment.className = "all-comments d-block";
    }


    
    function open_post_btn(post_id) {
        /*
         * This function is used for automatically opening and closing post button when
         * user inputs any value in form.
        */
        const comment_textarea = document.querySelector(`#comment-textarea-${post_id}`);
        const comment_post = document.querySelector(`#comment-post-${post_id}`);
        
        comment_textarea.addEventListener("input", function() {
            if (comment_textarea.value !== "") {
                comment_post.style.display = "inline";
            } else {
                comment_post.style.display = "none";
            }
        });

    }


    function add_comment(post_id) {
        /*
         * This functions is the most important function for appending comment in all-comments section and then sends
         * comment data to server using POST request
        */

        const comment = document.querySelector(`#comment-textarea-${post_id}`).value;
        const all_comment = document.querySelector(`#all-comment-${post_id}`);
        const comment_div = document.createElement('div');
        const comment_img = `<img src="{{current_user.gravatar(size=256)}}" alt="" class="profile">`;
        const comment_div2 = document.createElement('div');
        const card_body = `
        <div class="card-body">
            <a
                class="body-top d-flex justify-content-start align-items-center gap-2 position-relative mb-2 link-underline link-underline-opacity-0"
                href="{{url_for('main.user', username=current_user.username)}}">
                <i class="fa-solid fa-ellipsis position-absolute top-0 end-0 post-menu"></i>
                <div class="d-flex flex-column post-top">
                    <span class="text-secondary fs-6">
                        <strong>{{ current_user.name }}</strong> • 3rd+
                    </span>
                    {% if current_user.about_me %}
                    <p class="text-secondary m-0">{{
                        current_user.about_me[:70] }}{% if
                        current_user.about_me|length > 70 %}...{% endif %}
                    </p>
                    {% endif %}
                    <p class="text-secondary m-0">
                        a few seconds ago • <i class="fa-solid fa-earth-asia"></i>
                    </p>
                </div>
            </a>
            <p class="comment__text m-0">${comment}</p>
        </div>
        `

        comment_div.className = "comment d-flex gap-2 align-items-start mx-3 mb-3";
        comment_div2.className = "card comment__card";

        comment_div2.innerHTML = card_body;
        comment_div.innerHTML = comment_img;
        comment_div.appendChild(comment_div2);
        all_comment.prepend(comment_div);

        add_comment_to_db(comment, post_id)
    }

    async function add_comment_to_db(comment, post_id) {
        try {
            const data = {
                body: comment,
                post_id: post_id,
            };
            const response = await fetch(`/add_comment/${post_id}`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            if (response.ok) {
                const responseData = await response.json();
                document.querySelector(`#comment-textarea-${post_id}`).value = "";
                document.querySelector(`.comments-${post_id}`).innerHTML++;
                console.log(responseData);
            } else {
                throw new Error('Request failed.');
            }
        } catch (error) {
            console.log(error);
        }
    }
</script>
{{ pagedown.include_pagedown() }}
{% endblock script %}